<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="styles/secondPageStyles.css">
        <title>page</title>
    </head>
<body>
    <header class="header">
    <nav class="navbar">
        <ul class=navbar_list>
            <li class="navbar_item">
                <a class="navbar_link-math" href="/math">Математика</a>
            </li>
            <li class="navbar_item">

                <a class="navbar_link-cats" href="/cats">Котики</a>
            </li>
        </ul>
    </nav>
    </header>
